* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}





::-webkit-scrollbar {
    width: 5px !important;
    height: auto;

}

::-webkit-scrollbar-track {

    background: #0aa4b8 !important;

}


::-webkit-scrollbar-thumb {
    background: #ff5a60;
    border-radius: 10px;

}


.faq .faq-question h4 {
    padding-bottom: 8px;
}


.faq .faq-question h4::-webkit-scrollbar,
.tab-inner .card .tab::-webkit-scrollbar {

    width: 5px !important;
    height: 5px;
}




section,
footer {
    padding: 0 30px;
}

#banner,
#banner2 {
    padding: 0;
}

/* header start */


.contact-wrapper {
    width: 80% !important;
}


header {

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: #212126;


}

header .mid {
    max-width: 1265px;
    margin: auto;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border: 0px solid red;

}



header button {
    background-color: #ff5a60;
    border: none !important;
    color: #fff !important;
}



header .logo {
    width: 121px;
}


header .logo img {
    width: 100%;
}

nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: 0.5s;
    border: 0px solid black;
}

nav ul li a:hover {
    text-decoration: underline;
}


nav ul li button {

    padding: 12px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 68px;
    border: 1px solid #dfe0e3;
    cursor: pointer;
    transition: 0.5s;
    color: #51505d;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

nav ul li button:hover {
    background-color: #f1f1f2;
}



/* header end */



/* banner start  */

.banner-outer {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("img/marathi_web_bg.jpg") center top;
    height: 90vh;
    background-size: cover;
    position: relative;

}

.banner-outer .banner-inner {


    height: 100%;
    position: relative;
    border: 0px solid red;

}



.banner-outer .banner-inner .banner-content {

    height: 100%;
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(185, 248, 10);


}


.banner-outer .banner-content .title {
    font-size: 78px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Roboto";
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.banner-outer .banner-content .title img {
    width: 50px;
}


.banner-outer .banner-content .sub-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.banner-outer .banner-content button {
    font-size: 24px;
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    background-color: #0aa4b8;
    transition: 0.5s;
    border: none;
}


.banner-outer .banner-content button:hover {
    background-color: #00bcd5;
}


.banner-inner .services {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #fff;
    background-color: #090a0a;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 15px 0;
    border: 0px solid red;
}


.banner-inner .services .item {
    font-size: 20px;
    padding: 5px 15px;

}

.banner-inner .services .item:not(:last-child) {
    border-right: 1px solid #838182;
}

/* banner end  */



/* Shaadi Experience start */

.experience-outer {
    width: 100%;
    background-color: #fff;
}





.experience-inner {
    max-width: 1265px;
    margin: auto;
    padding: 90px 0;
    border: 0px solid red;
}



.experience-inner>.title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 40px;
    color: #212126;
    font-style: normal;
}

.experience-inner .cards {
    display: flex;
    justify-content: space-between;
}


.experience-inner .cards figure {
    padding: 32px 28px 48px;
    flex-basis: 32%;
    border: 1px solid #f1f1f2;
}

.experience-inner .cards figure img {
    width: 96px;
    height: 96px;
}

.experience-inner .cards figure figcaption {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.experience-inner .cards figure figcaption .title {
    margin-top: 30px;
    color: #212126;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.experience-inner .cards figure figcaption .content {
    color: #51505d;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}


.experience-inner .vip {
    margin-top: 40px;
    padding: 30px 50px;
    width: 100%;
    display: flex;
    gap: 50px;
    border-radius: 30px;
    background-color: #f4e9ff;
    border: 1px solid #dac8eb;

}


.experience-inner .vip .left {
    flex-basis: 300px;
    border: 0px solid red;
}

.experience-inner .vip .left img {
    width: 100%;
}

.experience-inner .vip .right {
    padding-left: 50px;
    flex-basis: calc(100% - 300px);
    border: 0px solid red;
}


.experience-inner .vip .right .title {
    font-size: 28px;
    line-height: 40px;
    color: #212126;
    font-weight: 500;
    margin-bottom: 20px;
}


.experience-inner .vip .right button {
    border-radius: 100px;
    padding: 25px 50px;
    line-height: 18px;
    font-size: 22px;
    background-color: #48276e;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    border: none;
}

/* Shaadi Experience end */






/* banner 2 start  */



.banner-2-outer {
    background: url("img/AGM_BG.jpeg") center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner-2-inner {

    max-width: 1265px;
    margin: auto;

    border: 0px solid red;
}


.banner-2-inner .content {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.banner-2-inner .content .left,
.banner-2-inner .content .right {
    flex-basis: 50%;
    border: 0px solid black;
}

.banner-2-inner .content .left img {
    width: 100px;

}


.banner-2-inner .content .left .title {
    margin-top: 15px;
    padding-bottom: 30px;
    font-size: 45px;
    line-height: 1.5;
    color: #212126;
    font-style: normal;
    font-weight: bold;

}


.banner-2-inner .content .left .owner {
    font-size: 20px;
    line-height: 56px;
    color: #51505d;
    font-style: normal;
    font-weight: 500;
}


.banner-2-inner .content .right {
    align-self: flex-end;
}

.banner-2-inner .content .right img {
    width: 100%;
    display: block;
}

/* banner 2 end */



/* Real Stories start  */

.real-story-outer {
    width: 100%;
}


.real-story-inner {
    max-width: 1265px;
    margin: auto;
    padding: 30px 0;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0px solid red;
}


.real-story-inner .left {
    width: 40%;
    border: 0px solid black;
}

.real-story-inner .right {
    width: 55%;
    border: 0px solid black;
}



.real-story-inner .left .title {
    font-size: 50px;
    line-height: 50px;
    color: #212126;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 18px;
}


.real-story-inner .left .sub-title {
    font-size: 24px;
    line-height: 1.7;
    color: #212126;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
}




.real-story-inner .left button {
    font-size: 22px;
    margin-top: 30px;
    padding: 20px 50px;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    background-color: #0aa4b8;
    transition: 0.5s;
    border: none;
}

.real-story-inner .left button i {
    font-size: 16px;
}

.real-story-inner .right .card-section .cards {
    display: flex;
    justify-content: space-between;
}


.real-story-inner .right .card-section .cards figure {
    flex-basis: 48%;
}


.real-story-inner .right .card-section .cards figure img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 28px;

}

.real-story-inner .right .card-section .cards figure figcaption {
    border-radius: 28px;
    border: 2px solid #f1f1f2;
    background-color: #fff;
    padding: 30px 16px;
}

.real-story-inner .right .cards figcaption .title {
    color: #212126;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.real-story-inner .right .cards figcaption .content {

    color: #212126;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}

.real-story-inner .right .line {
    margin-top: 20px;
    width: 100%;
    height: 5px;
    background-color: #00bcd5;
    border-radius: 20px;
    position: relative;
}

.real-story-inner .right .orange-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 33.3%;
    height: 100%;
    background-color: #ff5a60;
    border-radius: 20px;
}

.real-story-inner .right .arrow {
    padding: 20px 0;
    text-align: right;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.real-story-inner .right .arrow i.disablebtn {
    color: #dddbdc;

    border: 1px solid #dddbdc;
}

.real-story-inner .right .arrow i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #838182;
}

/* Real Stories end  */



/* faq-outer start */

.faq-outer {
    width: 100%;
}


.faq-inner {
    max-width: 1265px;
    margin: auto;
    padding: 20px 0;

    border: 0px solid red;
}

.faq-inner .title {
    color: #212126;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.faq {
    background-color: #fff;
    padding: 32px;
    border-radius: 24px;
    margin-bottom: 20px;
    border: 1px solid #f1f1f2;

}


.active-faq {
    background-color: #f9f9fb;
}

.faq .faq-question {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap: 15px;


}

.faq-inner .first-item {
    border-bottom: 1px solid #e9e5e7;
}


.faq .faq-question p {
    font-size: 32px;
    font-weight: bold;
    color: #212126;
}

.faq .faq-question h4 {
    flex-grow: 1;
    font-size: 32px;
    color: #212126;
    font-weight: 500;
    line-height: 1.1;
    cursor: pointer;
}


.faq .faq-question i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #353435;
}


.faq .faq-ans {
    font-size: 24px;
    line-height: 1.7;
    padding-top: 32px;
    color: #212126;
    font-style: normal;
    font-weight: 400;
}


.hideFaq {
    /* display: none; */
    padding-top: 5px;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;

}

.showFaq {

    /* display: block; */
    border-top: 1px solid #e9e5e7;
    max-height: 500px !important;
    padding: 10px 0px 20px 30px !important;
    line-height: 1.5 !important;

}

/* faq-outer end */



/* tab-outer */

.tab-outer {
    width: 100%;
    background-color: #fff;
}

.tab-inner {
    max-width: 1265px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 0px solid red;
}





.tab-inner .card {

    padding: 32px;
    border-radius: 24px 24px 0 0;
    margin-bottom: 20px;
    border: 1px solid #f1f1f2;
    background-color: #f9f9fb;
    margin-bottom: 40px;

}




.tab-inner .card .tab {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    border-bottom: 1px solid #b2b2b6;
    margin-bottom: 20px;

}




.card-first .tab {
    display: flex;
    align-items: center;
}


.tab-inner .card .tab li {
    flex-grow: 1;
    white-space: nowrap;



}




.tab-inner .card .tab li a {
    color: #353435;
}



.tab-inner .card .tab-data {
    padding: 10px 0;
    line-height: 1.4;
}




.tab-inner .card .tab-data a {
    font-size: 16px;
    font-weight: 400;
    color: #51505d;
    padding: 0 5px;
    line-height: 2.8;
    /* border-right: 3px solid #51505d; */

}

.tab-inner .card .tab-data span:first-child a {
    border-bottom: 1px dotted #51505d;
    margin-right: 5px;

}




.tab-inner .card .tab li:first-child a {
    color: #212126;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    border-bottom: 5px solid #090a0a;
}


.tab-inner .card .tab li {
    padding: 20px;
    padding-top: 0;
}



.tab-inner .card .title {
    color: #212126;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 20px;
}




/* intro start */

.intro-outer {
    width: 100%;
}



.intro-inner {
    max-width: 1265px;
    margin: auto;
    padding: 0px 0 30px 0;
    border: 0px solid red;
}

.card {
    padding: 40px 32px;
    border-radius: 24px 24px 0 0;
    margin-bottom: 20px;
    border: 1px solid #f1f1f2;
    background-color: #f9f9fb;
    margin-bottom: 20px;

}


.intro-inner .card p {
    color: #51515d;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    padding: 10px 0;
}

/* intro end */



/* footer start */

footer .inner {
    max-width: 1265px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0px solid red;

}


footer .inner .item {
    flex-basis: 13%;
}

footer .inner .item:last-child {
    flex-basis: 30%;
    border: 0px solid red;
}

footer .inner .item h4 {
    font-size: 20px;
    color: #000;
    margin-bottom: 25px;
}

footer .inner .item li {
    margin-bottom: 15px;
}


footer .inner .item li a {
    color: #72728d;
}


footer .inner .item:last-child ul {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

footer .inner .item:last-child i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    color: #212126;
    border: 1px solid #838182;
}


.app-outer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.app-oute .get-app {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
}

.app-outer p {
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #72728d;
}



.outer-company {
    background-color: #212126;
}

.company-inner {
    max-width: 1265px;
    margin: auto;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    border: 0px solid red;
}

.company-inner .item {
    color: #91959d;
    font-size: 14px;
}


/* footer end */



.model-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    display: none;

}


.model-form .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25)
}

.contact-wrapper {
    background: #fff;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .15);
    border-radius: .75em;
    padding: 2em;
    width: 300px !important;
    position: relative;
}


.contact-wrapper>i {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ff5a60;
}

.login-cta {
    &>h2 {
        color: #ff5a60;
        font-size: 20px;
        text-align: center;
    }
}

.socials-wrapper h2 {
    color: #ff5a60;
    font-size: 14px;
}

.socials-wrapper {

    &>section {
        &>h2 {
            background: #fff;
            color: #ff5a60 !important;
            font-size: 16px;
            position: relative;
            text-align: center;
            z-index: 10;

            &:after,
            &:before {
                background: lighten(#3e3f5e, 55);
                content: '';
                display: block;
                height: .10em;
                position: absolute;
                top: 50%;
                transform: translatey(-50%);
                width: 17.5%;
            }

            &:after {
                right: 0;
            }

            &:before {
                left: 0;
            }
        }
    }

    &>ul {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;

        &>li {
            margin: .5em;

            &>a {
                align-items: center;
                border-radius: .5em;
                color: #fff;
                display: flex;
                height: 2em;
                justify-content: center;
                text-align: center;
                text-decoration: none;
                transition: all 300ms ease;
                width: 2em;

                &.facebook {

                    background-color: #ff5a60;
                }

                &.twitter {

                    background-color: #ff5a60;
                }

                &.twitch {

                    background-color: #ff5a60;
                }

                &.youtube {

                    background-color: #ff5a60;
                }

                &:hover {
                    transform: translatey(-.25em);
                }
            }
        }
    }
}

form {
    margin: 2em 0;

    &>.form-row {
        display: flex;
        margin: .75em 0;
        position: relative;

        &>span {
            background: #fff;
            color: #adafca;
            display: inline-block;
            font-weight: 400;
            left: 1em;
            padding: 0 .5em;
            position: absolute;
            pointer-events: none;
            transform: translatey(-50%);
            top: 50%;
            transition: all 300ms ease;
            user-select: none;
        }

        &>input,
        &>button {
            border-radius: .5em;
            font-family: inherit;
            padding: 1em .5em;
            width: 100%;
        }

        &>input {
            font-weight: bold;
            transition: 100ms ease all;
            width: 100%;

            &[type=text],
            &[type=password] {
                border: .075em solid #ddd;
            }

            &:valid {
                &+span {
                    top: 0;
                    font-size: .90rem;
                }
            }

            &:invalid {
                &+span {
                    top: 50%;
                }
            }

            &:focus {
                &+span {
                    top: 0;
                }
            }

            &:required {
                box-shadow: none;
            }

            &:focus {
                border-color: #ff5a60;
                outline: none;

                &:invalid {
                    box-shadow: none;
                    top: 50%;
                }

                &:valid {
                    top: 0;
                }
            }
        }



        &>button {

            background-color: #ff5a60;
            border: .10em solid #ff5a60;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            transition: all 300ms ease;

            &:focus {
                border: .10em solid darken(#7b5dfa, 10);
                outline: none;
            }

            &:hover {
                background-color: darken(#7b5dfa, 5);
            }
        }
    }
}